{% load staticfiles %}
<html >
<head>
  <meta charset="UTF-8">
  <title> Login </title>

      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <img src="{% static 'images/bl1.png' %}"/>
                <img src="{% static 'images/myblog.png' %}"/>

            </div>

            <div class="col-xs-6" style="margin-top:75px;padding-left:20%">
                <span style="color:black;font-size:15px;font-weight:bold;font-family:Courier New"> Follow me : </span> <a href="http://www.facebook.com/pratik.satpute.50"><img style="padding-left:10px" src="{% static 'images/facebook.png' %}"></a><a href="http://twitter.com/prtkstpt/"><img style="padding-left:10px" src="{% static 'images/twitter.png' %}"></a><a href="https://in.linkedin.com/in/pratik-satpute-4748a4110"><img  style="padding-left:10px" src="{% static 'images/linkedin.png' %}"></a><a href="http://www.instagram.com/prtkstpt/"><img style="padding-left:10px" src="{% static 'images/instagram.png' %}"></a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8">
                <img src="{% static 'blog1.jpg' %}"/>
            </div>

            <div class="col-xs-4">
        <div class="form">
            <div class="thumbnail">
                <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/hat.svg"/> -->

                <img src="{% static 'images/login1.png' %}">
            </div>

            <form id="form" class="login-form" method="post">
                {% csrf_token %}
                <input id="username" type="text" placeholder="username" name="username" required="required"/>
                <input id="password" type="password" placeholder="password" name="password" required="required"/>
                <input style="color:lightgreen" type="submit" name="Login" value="Login"/>
                <!-- <div class="" style="position:absolute; left:100%">{{ form.username.errors }}
                     </div> -->
                <p class="message">Not registered? <a href="/register">Create an account</a></p>
            </form>
        </div>
        </div>
        </div>
    </div>

    <script src="{% static 'js/index.js' %}"></script>

</body>
</html>
