<html>
  <head>
    <title>My blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">Pratik'S Blog</a></h1>  
    </div>

    <div>
      <p>published : 10.1.2017, 12.50</p>
      <h2><a href="">My First post</a></h2>
      <p>My name is Patik Satpute. I am from Pune. I am working at Amazatic Solutions, Pimple Saudagar.</p>      
    </div>

    <div>
      <p>published : 10.1.2017,12.50</p>
      <h2><a href="">My Second post</a></h2>
      <p>I love Programming. I love Music.</p>
    </div>

    <div>
      <h3><a href=""> Contact Info</a></h3>
      <p>Mob : +917709962511 </br> Email id : pratik.s@amazatic.com </p>
    </div>
    
  </body>
</html>
