{% load staticfiles %}
<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        <link href="{% static 'css/regcss.css' %}" rel='stylesheet' type='text/css'>
        <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
        <script src="{% static 'js/register.js' %}"> </script>
    </head>

    <body>
        {% if registered %}
        <script type="text/javascript">
         alert ("Please OK to Continue.");
         window.location="/";
        </script>

        {% else %}

        <div class="container-fluid">
            <form action="" method="post" class="register-form" id="register" name="user_form">
                {% csrf_token %}

                <div class="row">
                    <div class="col-md-4 col-sm-4 col-lg-4">
                      <p>  <label for="username">USERNAME</label>
                        <input name="username" class="form-control" type="text" required="required">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-4 col-lg-4">
                       <p> <label for="email"> EMAIL - ID </label>
                        <input name="email" class="form-control" type="email" required="required">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-lg-4">
                        <label for="password">PASSWORD</label>
                        <input name="password" class="form-control" type="password" required="required">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                        <button class="btn btn-default regbutton">Register</button>
                        <button class="btn btn-primary regbutton" type="reset" value="Reset"></button>
                    </div>

                    <!-- <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                         <button class="btn btn-default logbutton">Sign up</button>
                         </div> -->
                </div>
            </form>

        </div>
        {% endif %}
    </body>
</html>
